@charset "utf-8";
/* CSS Document */



body{
	margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
}

.navigation .menbtn{
    display: none;
    font-size: 2em;
    font-weight: bold;
    margin: 1%;
    padding: 1px;
    margin-top: -40px;
    color:white;
    float: left;
    
}


.qualcosa{
   
	border-bottom: 2px solid #102542;
	
	background-color: white;
}

.articolo{
    
      margin-right:7.5%;
    margin-left:7.5%;
    padding:2.5% ;
}




#container{
    background-color: #102542;
    
}

nav{
	background-color: #102542;
	width: 100%;
	min-height: 230px;
}
nav ul{
	margin: 0;
	padding: 0;
	text-align: right;
	padding-top: 200px;
	margin-right: 45px;
}
nav li{
	list-style: none;
	display: inline;
	margin: 5px;
}
nav a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 6px;
	  -webkit-transition: background 1s; /* For Safari 3.1 to 6.0 */
    transition: background 1s;
	-webkit-transition: color 0.8s; /* For Safari 3.1 to 6.0 */
    transition: color 0.8s;
}
nav a:hover{
	background-color: white;
	color: #4d4e4e;
}
nav h3{
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	color:white;
	text-shadow: -1px 0 #393A3A, 0 1px #393A3A, 1px 0 #393A3A, 0 -1px #393A3A;
	font-size: 35px;
	margin-top: 185px;
	margin-left: 20px;
}
nav img{
	position: absolute;
	top:0;
	left:0;
	margin-left: 35px;
	
}
footer{
	background-color: #102542;
	text-align: center;
}	
footer h2{
	margin: 0;
	padding: 0;
	color: white;
	text-shadow: -1px 0 #393A3A, 0 1px #393A3A, 1px 0 #393A3A, 0 -1px #393A3A;
	text-align: center;
	margin-bottom: 3%;
}
#legal{
	text-align: center;
	padding-bottom: 10px;
}
#legal span{
	font-size: 12px;
	color: #8C8E8E
}
footer ul{
	margin: 0;
	padding: 0;
	margin-top: 2%;
	display: inline-block;
}
footer li{
	list-style: none;
	display: inline;
	margin: 5px;
}
footer a{
	text-decoration: none;
	color: white;
	font-size: 13px;
	font-weight: 400;
	padding: 6px;
}
#social_bar{
	text-align: center;
}
#social_bar img{
	padding: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	 -webkit-transition: transform 0.3s; /* For Safari 3.1 to 6.0 */
    transition: transform 0.3s;
}
#social_bar img:hover{
	transform: scale(1.5, 1.5);
	
}


#divMessage{
	margin-bottom: 1%;
}
.boh {
	background-color: white;
	margin-top: 1%;
	border-top: 2px solid #102542;
	border-bottom: 2px solid #102542;
	text-align: center;
	
}
.boh > form{
	padding: 2%;
	
}
 textarea {
	padding: 20px;
	
	width: 60%;
	border:1.3px solid #102542;
	border-radius: 20px;
	
	
}

 input {
	padding: 10px;
	margin-right: 20%;
	margin-left: 20%;
	border:1.3px solid #102542;
	border-radius: 20px;
	
	
}



.boh > h3{
	text-align: left;
	margin-left: 1%;
}

.boh2 {
	background-color: white;
	margin-top: 1%;
	border-top: 2px solid #102542;
	border-bottom: 2px solid #102542;
	text-align: center;
}

.boh2 > h3{
	text-align: center;
	font-weight: bold;
	
}
#slider-bar{
	overflow-x: scroll;
	overflow-y: hidden;
}
#slider4 {
	white-space: nowrap;
	margin-bottom: 20px;
	margin: 10px;
	
}

.slide-img {
	background: #ccc;
	height: 100px;
	display: inline-block;
	width: 100px;
	margin-right: 10%;
}
.slide-img a{
	text-decoration: none;
	color: black;
	font-weight: 600;
}
.button{
	margin: 0;
	padding: 10px;
	border: 0;
	background-color: #102542;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	min-width: 100px;
	border-radius: 20px;
}
::-webkit-scrollbar{
    width: 10px;
	height: 10px;
    background-color: #E3E3E3;
    border: 1px solid black;
}
::-webkit-scrollbar-thumb{
    background-color: #1E467D;
}

@media screen and (max-width: 600px) {
.navigation{
    
    text-align: center;
    
}
.navigation h3{
    float:none;
     text-align: center;
     display: block;
     margin:0;
    padding: 0;
}

.navigation ul{
	display: none;
	height: 170px;
   width:100% ;
    text-align: left;
   position:absolute;
   top:242px;
   left:0;
   padding-top: 0px;
	margin-right: 0px;
   z-index: 1;
   background-color: rgba(0,0,0,0.8);
	animation-name: menucomparsa;
    animation-duration: 0.5s;
    }
    @keyframes menucomparsa { from {height: 0;} to {height: 170px;} }
.navigation ul li{
    
    display: block;
     margin: 7%;
}
.navigation ul li a{
	font-weight: bold;
animation-name: scrittemenu;
 animation-duration: 1.5s;
    }
    @keyframes scrittemenu {
        from{opacity: 0;}
        to{opacity: 1;}

	}
	.navigation a:hover{
	background-color: rgba(0,0,0,0);
	color: #4d4e4e;
}

.navigation img{
    
    	position: relative;
    margin:0;
    padding: 0;
    
}

.navigation .menbtn{
    display: inline;
    
    
}



}

@media screen and (max-width: 290px) {
.navigation{
    
    text-align: center;
    
}
.navigation h3{
    font-size: 0;
}




}


/*.dropdown {
    position: relative;
    display: inline-block;
}*/

.dropdown-content {
	width: 100%;
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
	z-index: 1;
	text-align: left;
   position:absolute;
   top:243px;
   left:0;
   padding-top: 0px;
	margin-right: 0px;
   z-index: 1;
   background-color: rgba(0,0,0,0.8);
}

.dropdown:hover .dropdown-content {
    display: block;
}